body {
  background-color: rgb(255, 200, 240);
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}



h1 {
  color: white;
  text-shadow: 2px 2px 4px #af0055;
  font-size: 60px;
  
}

h2 {
  color: rgb(74, 0, 56);
  font-weight: bold;
}

p {
  color: rgb(39, 0, 19);
}

a {
    color:#e1006d;

}
.navbar-nav > li > a {
    line-height: 80px !important;   /* match your navbar height */
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar-brand {
    padding-top: 15px; 
    padding-bottom: 15px; 
    height: 80px;               /* match navbar height */
    line-height: 50px;          /* adjust to centre the logo vertically */
}

.pagetitle{
  margin-top:100px;
  margin-bottom: 40px;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
.flexcontainer div {
  background-color: rgba(39, 0, 19, 0.087);
  margin: 5px;
  padding: 10px;
  text-align: center;  
  font-size: 20px;
}

.flexcontainer div img {
  height: 370px;
  object-fit: contain;
}

.gridcontainer {
  display:grid;
  grid-template-rows: 100px 1fr 80px;
  grid-template-columns: 10% 70% 20%;
  grid-template-areas:
    "fakeheader fakeheader fakeheader"
    ". fakemain fakenav"
    "fakefooter fakefooter fakefooter";
}

.fakeheader {
  grid-area: fakeheader;
  display:flex;
  align-items: baseline;
  gap: 20px;
  background-color: rgb(0, 39, 2);
  color: white;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
}
.fakemain {
  background-color: rgb(225, 255, 227);
  grid-area: fakemain;
  text-align: left;
  padding: 30px
}
.fakenav {
  grid-area: fakenav;
  background-color: rgba(4, 39, 0, 0.221);
  padding: 30px
}
.fakefooter {
  grid-area: fakefooter;
  background-color: rgb(0, 39, 2);
  color: rgba(255, 255, 255, 0.661);
  align-items: center;
  padding: 25px;
}

.projectsgrid{
  display:grid;
  grid-template-columns: 8% 1fr 8%;
  grid-template-rows: 200px 1fr 70px 80px;;
  gap: 0px;
}

.projectsgrid .pagetitle{
  grid-column:2;
  grid-row:1;
}

.projectsflex{
  grid-column:2;
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  background-image: url("https://i.pinimg.com/1200x/99/46/f0/9946f0bd35f7364016b991be9c544616.jpg");
  padding-top:30px;
  padding-bottom: 50px;
  margin-top: 10px;
  border: 30px solid transparent;
  border-image: url("https://www.nicepng.com/png/full/47-475268_pink-border-frame-png-photos-black-and-white.png") round;
  border-image-outset: 10px;
  border-image-slice: 10% ;
}

.project{
  box-shadow: 5px 5px 15px 4px rgba(86,0,54,0.56);
  width:300px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(255, 200, 240) ;

}

.projecttitle{
  font-weight: 700;
  padding: 10px;
  font-size: 20px;

}
.projectdescription{
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-align: justify;
}

.projectfooter{
  grid-row: 4;
  grid-column: 1/4;
  background-color: rgb(39, 0, 19);
  color:#af0055;
  align-items: center;
  padding: 25px;
}

a :hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

#hovertext:hover{
  color: red;
  font-size: 30px;
  transition: ease-out 5s;


}

#popupimg {
  position: fixed;          /* image appears on top of the screen */
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  display: none;            /* hidden by default */
  z-index: 9999;
  mix-blend-mode: difference; 
  
}

#hovertext:hover + #popupimg {
  display: block;    
}

/*experiment page styles*/
#experimentbody{
  display: grid;
  grid-template-rows: 50px 100px 1fr 50px 50px;
  grid-template-columns: 10% 80% 10%;
  grid-template-areas:
    ". . ."
    ". header ."
    ". main ."
    ". . ."
    "footer footer footer";
  margin: 0;
  background-image: linear-gradient(rgb(255, 236, 245), rgb(255, 200, 240), rgb(39, 0, 19));
}

.experimentheader{
  grid-area:header;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 26px;
  background-color: rgb(39, 0, 19);

}

.experimentmain{
  grid-area:main;
  min-height: 800px;
}

.experimentfooter{
  grid-area:footer;
  color: white;
}