body {
    background-color: rgb(0, 46, 4);
    background-image: url('http://dl.backgroundsarchive.net/pub/1/1910fp1skolpco.jpg');
    background-attachment: scrolling;
    background-repeat: repeat;;
   }

#applepng img{
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;

  }

#cornergif img{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100px;
}